.employee-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-field {
    width: calc(33% - 8px);
}

.mat-form-field {
    font-size: 16px !important;
}

.mat-error {
    font-size: 14px;
    color: #f44336;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.save {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    background-color: #EA1E63;
    color: #FFF0F4;
    display: inline;
    border: 0px;
    border-radius: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    @media (max-width: 750px) {
        width: 100%;
        margin-bottom: 2em;
    }

}

.save:hover {
    background-color: #FF6C92;
    cursor: pointer;
}

.go-back {
    background-color: #C8D4D9;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #353D44;
    display: inline;
    border: 0px;
    border-radius: 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    @media (max-width: 750px) {
        width: 100%;
        margin-bottom: 1em;
    }
}

.go-back:hover {
    background-color: #FFF0F4;
    cursor: pointer;
}

@media (max-width: 750px) {
    .button-bar {
        flex-direction: column;
    }
}