<mat-list class="employee-list">
  <mat-label color="secondary" style="margin-right: 2em;">Sort By:</mat-label>
  <mat-form-field color="primary" class="sort-dropdown">
    <mat-select [(ngModel)]="selectedSortOption" (selectionChange)="sortEmployees()" color="primary">
      <mat-option value="id">Oldest</mat-option>
      <mat-option value="name">Name</mat-option>
      <mat-option value="jobTitle">Job Title</mat-option>
      <mat-option value="department">Department</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="search-container">
    <mat-label color="secondary" style="margin-right: 2em;">Search:</mat-label>
    <mat-form-field color="primary">
      <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Search for employees">
    </mat-form-field>
  </div>  
  <mat-list-item *ngFor="let employee of employees" class="employee-item">
    <h3 mat-line>{{ employee.name }}</h3>
    <p mat-line>Job Title: {{ employee.jobTitle }}</p>
    <p mat-line>Department: {{ employee.department }}</p>
  </mat-list-item>
</mat-list>
